@import "/styles/variables.scss";

/* Modal.module.scss */
.pk-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de la cortina oscura */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.pk-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  width: 50%;
  min-width: 230px;
  padding: 30px;
  border-radius: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.pk-closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pk-detail {
  margin: 0 20px;
  &__list {
    display: flex;
    gap: 15px;
    padding: 100px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__name {
    font-weight: normal;
  }
  &__info {
    font-weight: bold;
  }
  &__image {
    width: 80%;
    padding: 20px 10px;
    border-radius: 15%;
  }
  &__button {
    margin: 30px;
    padding: 10px 20px;
    border: solid black 2px;
    border-radius: 15px;
    font-size: 18pt;
    font-weight: 500;
    &__wait {
      color: black;
      background-color: rgb(255, 217, 0);
    }
    &__done {
      color: white;
      background-color: green;
    }
  }
}
